@import "tailwindcss";

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-lato {
  font-family: 'Lato' sans-serif;
  font-weight: 600;
}